@import 'modern-normalize/modern-normalize.css';

body {
  background-color: #f3f3f3;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #283747;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
